<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130511206568-73ckf21cp0eeqg1kpv874lajv93ndenv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130511206568-73ckf21cp0eeqg1kpv874lajv93ndenv</string>
	<key>API_KEY</key>
	<string>AIzaSyCt7pmJeqPEaos43chJGrET2rUpblKUjC0</string>
	<key>GCM_SENDER_ID</key>
	<string>130511206568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BigNerdRanchSAFCSP.iFlickr</string>
	<key>PROJECT_ID</key>
	<string>iflickr-fda88</string>
	<key>STORAGE_BUCKET</key>
	<string>iflickr-fda88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:130511206568:ios:230a72b99201ada6392a9d</string>
</dict>
</plist>
